.Buttons_10 {
	font-family: Segoe UI;
	font-size: 10px;
}

.Buttons_11 {
	font-family: Segoe UI;
	font-size: 10px;
}

.Buttons_13 {
	font-family: Segoe UI;
	font-size: 12px;
}

.default {
	font-family: Segoe UI;
	font-size: 12px;
}

.default_-_large1 {
	font-family: Segoe UI;
	font-size: 14px;
}

.Mono_11 {
	font-family: MS Sans Serif;
	font-size: 12px;
}

.Text_-_Very_Small {
	font-family: Segoe UI;
	font-size: 9px;
}

